{% extends "layout.html" %}


{% block content %}

  <div class="row">
    <h1>Despre noi</h1>

    <p>
      Proiectul nostru a fost inițiat ca urmare a unor discuții dintre
      programatori, activiști și jurnaliști în cadrul proiectului
      jurnalistic The Sponge - Media Innovation Lab for Eastern Europe
      (detalii la <a
      href="http://thesponge.eu/">thesponge.eu</a>).
    </p>

    <p>
      Ulterior, proiectul a fost depus la Restart Romania 2012 sub
      denumirea <em>LegiLibere</em>
      (<a href="http://restartromania.techsoupglobal.org/project/legi-libere"
        >restartromania.techsoupglobal.org/project/legi-libere</a>),
      unde a ajuns până în finala de 7 proiecte.
    </p>

    <p>
      Evident, membrii proiectului continuă lucrul la proiect și după
      terminarea Restart Romania 2012.
    </p>

    <h2>Scopul proiectului</h2>

    <p>
      Crearea unui portal liber<sup>*</sup> care adună legislație,
      jurisprudență și informații publice și le face căutabile și
      accesibile într-un format liber (HTML sau plain text).
    </p>

    <p>
      <sup>*</sup>Prin liber înțelegem, din punct de vedere juridic,
      posibilitatea de reutilizare libera a întregului conținut,
      inclusiv a codului sursă al programului. Iar din punct de vedere
      tehnic înțelegem prezentarea informației într-un format liber, a
      bazei de date într-un format deschis și ușor de re-utilizat (de
      ex. csv), ca și disponibilitatea codului sursă.
    </p>


    <h2>Scurt FAQ</h2>

    <dl>
      <dt>De ce Hambar109.ro?</dl>
      <dd>
        Legea pentru re-utilizarea informatiilor publice este 109/2007.
        Hambarul este locul unde ținem datele publice și "serverul de
        productie". :-)
      </dd>

      <dt>In ce stadiu este proiectul?</dt>
      <dd>
        Puteti să folosiți proiectul prin motorul de cautare de la
        <a href="http://www.hambar109.ro">www.hambar109.ro</a>,
        dar țineți cont că suntem înca intr-o fază
        incipientă, deci ceea ce vedeți este destinat testelor și în
        niciun caz utilizatorilor finali.

        <ul>
          <li>
            Studiem și testăm modalități de indexare și căutare
            eficientă a informației publice - în special legislație, ca
            și metode de transformare a legislației existente într-un
            format liber.
          </li>

          <li>
            Analizăm modul cum proiectul nostru poate să contribuie cu
            extragerea de date/informații utile către alte proiecte sau
            idei.
          </li>

          <li>
            Încercăm să sensibilizăm autoritățile publice pentru punerea
            la dispoziție a cât mai multe seturi de date de informație
            publică în regim de date deschise (open data).
          </li>

          <li>
            Analizăm posibilul conflict între legislația datelor cu
            caracter personal și publicarea datelor publice în format
            deschis, pentru a identifica care sunt cele mai bune
            practici în acest context.
          </li>
        </ul>
      </dd>

      <dt>Unde găsesc codul sursă al proiectului?</dt>
      <dd>
        Pe GitHub - <a href="https://github.com/mgax/hambar109"
        >github.com/mgax/hambar109</a>. Tot acolo găsiți
        și o listă de issues.
      </dd>

      {#
      <dt>Cum pot contribui la proiect?</dt>
      <dd>
        Înscrie-te pe lista de discuții relevantă. Vezi și lista de
        issues pe github - <a href="github.com/mgax/hambar109/issues"
        >github.com/mgax/hambar109/issues</a>
      </dd>
      #}

      {#
      <dt>Cum vă pot contacta?</dt>
      <dd>
        Poți să ne dai un email la info at hambar109 punct ro.
      </dd>
      #}

  </div>

{% endblock %}
