<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hambar 109</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less"
          href="{{ url_for('static', filename='style.less') }}">
    <script src="{{ url_for('static', filename='lib/less-1.3.0/less.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-1.7.2/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-1.7.2/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bubbles/modernizr-2.0.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-2.1.1/js/bootstrap.min.js') }}"></script>
    {% block extra_head %}{% endblock %}
  </head>

  <body>

    {%block navbar %}
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <a class="brand" href="/">hambar109.ro</a>
          <ul class="nav">
            <li><a href="{{ url_for('.search') }}">Căutare</a></li>
            <li><a href="{{ url_for('.about') }}">Despre noi</a></li>
          </ul>
        </div>
      </div>
    {% endblock %}

    <div id="container" class="container">

      {% block content %}{% endblock %}

      <hr>

      <footer>
        {# <p>&copy; TODO 2012</p> #}

        <p>
          Resurse:
          <a href="https://github.com/mgax/hambar109">codul sursă (GitHub)</a>,
          <a href="http://apti.ro/mailman/listinfo/legilibere_apti.ro"
             >lista de discuții</a>.
        </p>

      </footer>

    </div>

  {% block scripts %}{% endblock %}

  {% set ga_code = config['GOOGLE_ANALYTICS_CODE'] %}
  {% if ga_code %}
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', {{ ga_code|tojson|safe }}]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}

  </body>

</html>
