{% extends "layout.html" %}

{% block content %}

  <div class="pd-search">
    <form>
      <input type="search" placeholder="... text ..."
             name="q" value="{{ request.args.get('q', '') }}">
      <button type="submit">caută</button>
    </form>
  </div>

  {% if results %}
  <div class="row">
    <div class="span12">

        <p>{{ results['hits']['total'] }} hits</p>

        <ul class="pd-search-results">
        {% for hit in results['hits']['hits'] %}
          <li>

            <p><tt>{{ hit['_id'] }}</tt></p>

            {% for fragment in hit['highlight']['file'] %}
              <p>{{ fragment|safe }}</p>
            {% endfor %}

          </li>
        {% endfor %}
        </ul>

    </div>
  </div>
  {% endif %}


{% endblock %}
