{% extends "layout.html" %}


{% block content %}

  <div class="row">
    <h1>Hambar109 – căutare în documente publice</h1>
  </div>

  {% set query = request.args.get('q', '') %}

  <div class="pd-search">
    <form>
      <input type="search" placeholder="... text ..."
             name="q" value="{{ query }}">
      <button type="submit">caută</button>
    </form>
  </div>

  {% if results %}
  <div class="row">
    <div class="span12">

        <p>{{ results['hits']['total'] }} hits</p>

        <ul class="pd-search-results">
        {% for hit in results['hits']['hits'] %}
          <li>

            <h4>{{ hit['_id'] }}</h4>

            {% if 'highlight' in hit %}
              <p>{{ hit['highlight']['content']|format_highlight }}</p>
            {% endif %}

          </li>
        {% endfor %}
        </ul>

        <p class="pd-navigation">
          <a href="{{ next_url|safe }}">next</a>
        </p>

    </div>
  </div>
  {% endif %}

{% endblock %}
